<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <form (ngSubmit)="onSubmit()" class="box">
      <div class="field">
        <div class="control">
          <textarea class="textarea" placeholder="Textarea" id="postTextContent" [(ngModel)]="newPostModel.text"
            name="text"></textarea>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div *ngIf="posts; else loading">
  <div *ngFor="let post of posts" class="box">
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <img class="is-rounded" src={{post.author.picture}}>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{post.author.userName}}</strong> <small>{{post.createdAt | date}}</small>
            <br>
            {{post.text}}
          </p>
        </div>
      </div>
    </article>
  </div>
</div>
<ng-template #loading>
  <p>Getting posts...</p>
  <span class="icon">
    <i class="bulma-loader-mixin"></i>
  </span>
</ng-template>
